@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@800&display=swap');


:root {
    /* colors */

    --color1: #2d3950;
    --color2: #15a4fa;
    --color2_hover: #15a2fade;
    --color3: #48baff;
    --color3_hover: #5fc3ff;
    --black: rgb(34, 34, 34);
    --ash: #999999;
    --ash_footer: rgb(153, 153, 153);
    --img_hover: #2c374c;
    --white: #fff;
    --offwhite: #f6f9f9;

    /* fonts */

    --lato: 'Lato', sans-serif;
    --opensans: 'Open Sans', sans-serif;

}

/* Header Section Starts */

.header .navbar_spacing {
    /* padding: 0 250px; */
    background-color: var(--white);
}

#Nav .logo {
    font-family: var(--lato);
    color: var(--color1);
    font-size: 30px;
    font-weight: bold;
    text-transform: uppercase;
}

#Nav .logo:hover {
    color: var(--color2);
}

#Nav .icon {
    color: var(--color2);
    margin-top: 5px;
}

#Nav .icon:hover {
    color: var(--white);
}

#Nav #navbarText .nav-link {
    padding: 30px 0 30px 45px;
    color: var(--white);
    font-size: 24px;
    font-family: var(--lato);
    color: var(--black);
    text-align: left;
}

#Nav #navbarText .nav-link:hover {
    color: var(--color2);
}

.fixed-top {
    background: transparent;
    border: none !important;
}

/* .navbar-fixed-top .scrolled {
    background-color: #f4f4f4 !important;
    transition: background-color 200ms linear;
  } */


/* Side Navbar Starts */

#side-menu .close {
    background: var(--white);
    border: 2px solid var(--color2);
    /* padding: 1px 8px; */
    border-radius: 5px;
}

#side-menu .close:hover {
    border: 2px solid var(--color1);
}

#side-menu .close span {
    color: var(--color2);
    padding: 1px 8px;
}

#side-menu .close span:hover {
    color: var(--color1);
}

#side-menu .nav-link {
    color: var(--color1);
    font-size: 24px;
    font-weight: 600;
    padding: 16px 0;
    text-transform: uppercase;
    letter-spacing: 2px;
}

#side-menu .nav-link:hover {
    color: var(--color2);
    font-size: 36px;
    font-weight: 800;
    padding: 8px 6px;
    margin-left: 6px;
}

/* Side Navbar Ends */

/* Header Section Ends */



/* Main Section Starts */

#home {
    position: relative;
}

#home .hero {
    width: auto;
    background: url("../image/bg.png") no-repeat center;
    background-size: cover;
    color: var(--white);
    height: 802px;
}

.hero .heading {
    font-size: 120px;
    font-family: var(--lato);
    font-weight: bold;
    color: var(--white);
    /* padding: 232px 0 10px 0; */
    margin: 299px 0 10px 0;
    letter-spacing: 3px;
    display: inline-flex;
    justify-content: center;
    width: 40%;
    border-bottom: 2px solid var(--color2);
    box-sizing: border-box;
}

.hero .heading:hover {
    color: var(--color2);
}

.hero .para {
    font-family: var(--lato);
    font-size: 20px;
    font-weight: 400;
    color: var(--white);
    padding: 32px 42px;
    box-sizing: border-box;
}

.hero .btn-click {
    font-size: 18px;
    font-weight: 400;
    font-family: var(--lato);
    color: var(--white);
    background: transparent;
    border-radius: 2px;
    margin-top: 15px;
    padding: 22px 34px;
    border: 2px solid var(--color2);
}

.hero .btn-click:hover {
    color: var(--color2);
    background: var(--white);
    border: 2px solid var(--white);
}

.hero .icon {
    font-size: 35px;
    padding: 10px 25px;
    color: var(--white);
    margin-top: 80px;
}

.hero .icon:hover {
    color: var(--color2);
}

/* Main Section Ends */


/* Service Section Starts */

.grey_bg{
    background: var(--offwhite);
}

.service .pure_design {
    padding: 82px 0 110px 0;
}

.service .sidewalk .heading {
    /* margin-top: 82px; */
    text-align: center;
    font-size: 40px;
    font-family: var(--lato);
    font-weight: bold;
    color: var(--color1);
    /* padding: 232px 0 10px 0; */
    box-sizing: border-box;
}


.service .sidewalk .heading:hover {
    color: var(--color2);
}

.service .sidewalk .para {
    font-family: var(--lato);
    font-size: 20px;
    font-weight: 400;
    color: var(--ash);
    margin-top: 32px;
    /* padding: 32px 42px; */
    text-align: center;
    box-sizing: border-box;
}

.service .sidewalk .row{
    margin: 65px 0;
}

.service .sidewalk .col-test {
    display: flex;
    /* justify-content: center; */
    align-items: center;
    flex-direction: column;
    flex-wrap: wrap;
}

.service .sidewalk .col-test:hover {
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
    padding: 20px;
    border-radius: 5px;
}

.service .sidewalk .image_body {
    /* margin-bottom: 30px; */
    width: 100px;
    height: 100px;
    background: var(--color3_hover);
    border-radius: 3px;
    position: relative;
    overflow: hidden;
}

.service .sidewalk .image_body .overlay {
    height: 100%;
    width: 100%;
    background: var(--color3);
    position: absolute;
    left: -100%;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    visibility: hidden;
    transition: all linear .3s;
}

.service .sidewalk .col-test:hover .overlay {
    opacity: 1;
    visibility: visible;
    left: -50%;
}

.service .sidewalk .image_body .icon {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 35px;
    color: var(--white);
    text-shadow: 0px 1px 1px rgba(2, 2, 2, 0.4);
}



.service .sidewalk .head {
    font-size: 22px;
    font-family: var(--lato);
    color: var(--color1);
    text-align: center;
    margin-top: 32px;
}

.service .sidewalk .caption {
    font-size: 15px;
    font-family: var(--lato);
    color: var(--ash);
    text-align: center;
    margin-top: 22px;
}


/* Service Section Ends */


/* Portfolio Section Starts */


.portfolio .sidewalk {
    /* padding: 0 250px; */
    box-sizing: border-box;
}

.portfolio .sidewalk .pure_design {
    padding: 82px 0;
}

.portfolio .sidewalk .grey_bg {
    background: var(--offwhite);
}

.portfolio .sidewalk .heading {
    /* margin-top: 82px; */
    text-align: center;
    font-size: 40px;
    font-family: var(--lato);
    font-weight: bold;
    color: var(--color1);
    /* padding: 232px 0 10px 0; */
    box-sizing: border-box;
    /* line-height: 1; */
}


.portfolio .sidewalk .heading:hover {
    color: var(--color2);
}

.portfolio .sidewalk .para {
    font-family: var(--lato);
    font-size: 20px;
    font-weight: 400;
    color: var(--ash);
    margin-top: 32px;
    /* padding: 32px 42px; */
    text-align: center;
    box-sizing: border-box;
}

.portfolio .sidewalk .col-test {
    display: flex;
    /* justify-content: center; */
    align-items: center;
    flex-direction: column;
    flex-wrap: wrap;
    padding: 15px;
}

.portfolio .sidewalk .image_body {
    /* background: var(--color3_hover); */
    border-radius: 3px;
    position: relative;
    overflow: hidden;
}

.portfolio .sidewalk .image_body .overlay {
    position: absolute;
    height: 100%;
    width: 100%;
    left: -100%;
    top: 0;
    background-color: var(--color2_hover);
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    visibility: hidden;
    transition: all linear .3s;
}

.portfolio .sidewalk .col-test:hover .overlay {
    opacity: 1;
    visibility: visible;
    left: 0%;
}

.portfolio .sidewalk .image_body .icon {
    font-size: 15px;
    color: var(--white);
    padding: 14px 14px;
    margin: 0 5px;
    border: 1px solid var(--white);
    border-radius: 2px;
}

.portfolio .sidewalk .image_body:hover .icon:hover {
    background-color: var(--white);
    color: var(--color2_hover);
}

.portfolio .image_body img {
    width: 100%
}


/* Portfolio Section Ends */



/* Contact Section Starts */


.contact .sidewalk {
    box-sizing: border-box;
    background: url("../image/connect.png") no-repeat center;
    background-size: cover;
}

.contact .sidewalk .overlay {
    /* padding: 0 250px; */
    background: #2d3950;
    opacity: 0.9;
    height: 700px;
}

.contact .sidewalk .pure_design {
    padding: 82px 0;
}

.contact .sidewalk .heading {
    /* margin-top: 82px; */
    text-align: center;
    font-size: 41px;
    font-family: var(--lato);
    font-weight: bold;
    color: var(--white);
    box-sizing: border-box;
    /* line-height: 1; */
}


.contact .sidewalk .heading:hover {
    color: var(--color2);
}

.contact .sidewalk .para {
    font-family: var(--lato);
    font-size: 15px;
    font-weight: 400;
    color: var(--ash);
    margin-top: 32px;
    text-align: center;
    box-sizing: border-box;
}

.contact .sidewalk .form {
    width: 50%;
}

.contact .sidewalk .form .input {
    margin-bottom: 20px;
    color: var(--white);
}

.contact .sidewalk .form .input .inputs {
    background: transparent;
    border: 2px solid var(--ash);
    height: 52px;
    color: var(--white);
    border-radius: 2px;
}

.contact .sidewalk .form .inputs:focus {
    border: 2px solid var(--color2_hover);
}

.contact .sidewalk .form .input .text-area {
    height: 160px;
}

.contact .sidewalk .form .box .checkbox {
    padding: 50px;
    /* width: 120px;  */
    margin: 20px 20px 20px 0;
    /* background: var(--white); */
    display: inline-flex;
    align-items: center;
    justify-content: space-evenly;
}

.contact .sidewalk .form .box {
    display: flex;
    justify-content: space-between;
    align-items: center;
}


.contact .sidewalk .form .btn-click {
    border: 2px solid var(--color2);
    color: var(--white);
    background: transparent;
    padding: 16px 50px;
    font-size: 18px;
    border-radius: 2px;
}

.contact .sidewalk .form .btn-click:hover {
    border: 2px solid var(--color2);
    background: var(--color2);
}

/* Contact Section Ends */

/* Footer Section Starts */


.footer .container-fluid{
    height: 90px;
    background: var(--white);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer .text {
    font-size: 15px;
    font-family: var(--lato);
    color: var(--ash);
}

.footer .social a {
    background: var(--color2);
    color: var(--white);
    width: 40px;
    height: 40px;
    padding: 15px;
    margin: 2px 5px;
    border-radius: 2px;
    text-align: center;
    border: 1px solid var(--color2);
    position: relative;
}

.footer .social a i {
    color: var(--white);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.footer .social a:hover {
    background: var(--white);
    border: 1px solid var(--color2);
    color: var(--color2);
}

.footer .social a:hover i {
    color: var(--color2);
}

/* Footer Section Ends */